@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Kaushan+Script&family=Roboto:wght@400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: var(--default-font);
}

:root {
    --default-font: 'Roboto', sans-serif;
    --title-font: 'Kaushan Script', cursive;
    --font-banner: 'Inter', sans-serif; /* Fonte Bold 700 */
    --red-color: #a30000;
}

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 20px;
}

header h1, header form, header nav {
    padding: 10px;
}

#header-flex {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
}

h1 {
    display: inline-block;
    font-family: var(--title-font);
    font-size: 3em;
}

span#title-com {
    background-color: var(--red-color);
    color: white;
    padding: 3px;
    border-radius: 2px;
    font-size: 0.3em;
    margin-left: 6px;
}

span#title-dot {
    font-size: 1.7em;
}

#title-search {
    font-size: 1.3em;
    border-radius: 10px;
    border: 1px solid black;
}

#title-search-form {
    display: flex;
    align-items: center;
    gap: 0 5px;
}

#procurar-botao {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
}

header nav {
    display: flex;
    justify-content: center;
    gap: 0px 15px;
}

header nav a {
    text-decoration: none;
    color: black;
}

header nav a:hover {
    color: rgba(56, 56, 43, 0.233);
}

/* Estilos do banner rotativo */

.slider {
    margin: 0 auto;
    width: 100%;
    height: 600px;
    overflow: hidden;
}

.slides {
    width: 400%;
    height: 400px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 25%;
    position: relative;
    transition: 1s;
}

.texto-slide {
    position: absolute;
    left: 50px;
    bottom: 0px;
    color: white;
    width: 35%;
    height: 60%;

    text-shadow: 0 1px 3px rgba(0,0,0,.8);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-between;
}

.texto-slide h2 {
    font-family: var(--font-banner);
    font-size: 3.5em;
    text-align: center;
}

.texto-slide p {
    line-height: 1.5em;
    text-align: left;
}

.texto-slide button {
    background-color: var(--red-color);
    padding: 10px 40px;
    font-size: 18px;
    border: none;
    color: white;
    text-shadow: inherit;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
    cursor: pointer;
}

.texto-slide button:hover {
    background-color: #8a0202;
}

.slide img {
    width: 100%;
}

.manual-navigation {
    position: absolute;
    width: 100%;
    margin-top: 170px;
    display: flex;
    justify-content: center;

    gap: 0px 10px;
}

.manual-btn {
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:hover {
    background-color: white;
}

#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -25%;
}

.navigation-auto div {
    border: 2px solid #20a6ff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto {
    position: absolute;
    width: 100%;
    margin-top: 570px;
    display: flex;
    justify-content: center;

    gap: 0 10px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
    background-color: white;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
    background-color: white;
}

/* Fim dos estilos do Banner rotativo */

#spacer {
    height: 2px;
    width: 80%;
    background-color: rgba(0, 0, 0, 0.1);
    margin: 70px auto;
}

main {
    display: grid;
    grid-template-areas: 
        ". . ."
        ". receitas ."
        ". . ."
    ;
    gap: 0px 125px;
}

div#content {
    display: flex;
    gap: 100px 100px;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
    grid-area: receitas;

    border: 1px solid rgba(0, 0, 0, 0.2);
    height: fit-content;
    width: fit-content;
    padding: 50px;
}

.receitas {
    height: 350px;
    width: 350px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 5px;

    cursor: pointer;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.receita-img {
    height: 70%;
    width: 100%;
    background-image: url('Placeholder - default image');
    background-size: cover;
    background-position: center;
    transition: transform 0.3s ease-in-out;
}

.receitas:hover .receita-img {
    transform: scale(1.1);
}

.receita-separador {
    height: 2px;
    width: 80%;
    background-color: rgba(0, 0, 0, 0.2);
    margin: 20px 0;
}

.receita-nome {
    text-align: center;
}
