@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Kaushan+Script&family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: var(--default-font);
}

:root {
    --default-font: 'Open Sans','Roboto', sans-serif;
    --title-font: 'Kaushan Script', cursive;
    --font-banner: 'Inter', sans-serif; /* Fonte Bold 700 */
    --red-color: rgb(163, 0, 0);
    --background-color-button: hsla(240, 7%, 70%, 0.349);
    --color-black-default: #0e0e10;
}

body {
    background-color: #f7f7f8;
}

/* Estilos do header */

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
}

h1 {
    display: inline-block;
    font-family: var(--title-font);
    font-size: 3em;
    display: none;
}

#header-logo {
    display: inline-flex;
    height: 100px;
    cursor: pointer;
}

#title-search-form {
    position: relative;
    display: inline-flex;
    font-size: 1.4em;
}

.fa-xmark {
    position: absolute;
    left: 282px;
    top: 12px;
    display: none;
}

input[type="search"]::-webkit-search-cancel-button {
    display: none;
}

#title-search-form label {
    display: none;
}

#title-search {
    appearance: none;
    background-clip: padding-box;
    font-size: 1.3em;
    transition: border 100ms ease-in, background-color 100ms ease-in;
    border-radius: 0.6rem 0 0 0.6rem !important;
    border: 0px solid transparent;
    box-shadow: inset 0 0 0 1px rgba(50, 50, 57, 62);
    color: var(--color-black-default);
    background-color: white;

    display: flex;
    width: 100%;
    height: 2.6rem;
    font-size: 1.4rem;
    padding: 0.5rem 2rem 0.5rem 1rem !important;
}

#title-search:hover {
    outline: none;
    border-color: rgba(50, 50, 57, 62);
    box-shadow: inset 0 0 0 2px rgba(50, 50, 57, 62);
    background-color: white;
}

#title-search:focus, #title-search:focus:hover {
    box-shadow: 0 0 0 2px var(--red-color), inset 0 0 0 2px var(--red-color);
    outline-offset: -1px;
    border-color: var(--red-color);
    background-color: white;
}

#title-search:focus-visible {
    outline: none;
}

.procurar {
    position: relative;
    cursor: pointer;
}

.procurar:hover {
    #procurar-botao {
        cursor: pointer;
        background-color: hsl(240deg 7% 70% / 50%);
    }
}

#procurar-botao {
    height: 100%;
    width: 35px;
    position: absolute;
    left: -1px;
    padding: 5px;
    border-radius: 0 0.6rem 0.6rem 0;
    border: 0;
    background-color: var(--background-color-button);
}

.fa-magnifying-glass {
    position: absolute;
    top: calc(42px / 4);
    left: calc(22px / 4) ;
}

header nav {
    display: inline-flex;
    justify-content: center;
    gap: 0px 12px;
}

#receitas-menu-wrapper {
    height: fit-content;
    width: fit-content;
    position: relative;
}

header > nav > a, #receitas-button {
    text-decoration: none;
    color: var(--color-black-default);
    padding: 10px;
    font-size: 1.1em;
    font-weight: bold;
}

#receitas-menu {
    position: absolute;
    display: none;
    width: 225px;
    z-index: 1;
    background-color: white;
    border-radius: 0.6rem !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .16), 0 0px 4px rgba(0, 0, 0, .05);
}

#receitas-menu ul {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 10px 10px;
    gap: 8px;
}

#receitas-menu li, a {
    list-style-type: none;
    text-decoration: none;
}

#receitas-menu a {
    display: block;
    width: 100%;
    height: fit-content;
    padding: 10px 30px 10px 5px;
    color: var(--color-black-default)
}
 #lista-receitas-menu > li{
    border-left: 5px solid var(--red-color);
 }

header nav a:hover, #receitas-button:hover{
    background-color: var(--background-color-button);
    color: var(--color-black-default);
    cursor: pointer;
}

/* Consulta de mídia para telas menores que 600px */
@media (max-width:600px) { 

    header { 
        flex-direction: column;
        height: fit-content;
    }
    header nav {
        display: none;
    }
    
    h1 { 
        font-size: 2em; 
    } 
    
    #header-logo { 
        height: 80px; 
    } 
    
    #title-search-form { 
        font-size: 1.2em; 
    } 
    
    #title-search { 
        height: 2.4rem; font-size: 1.2rem; 
    } 
    
} 

/* Fim dos estilos do header */

/* Estilos do banner rotativo */

.slider {
    margin: 0 auto;
    width: 100%;
    height: 600px;
    overflow: hidden;
}

.slides {
    width: 400%;
    height: 100%;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 25%;
    position: relative;
    transition: 1s;
}

.texto-slide {
    position: absolute;
    left: 3%;
    bottom: 25%;
    color: white;
    width: 38%;
    min-width: 560px;
    height: fit-content;

    text-shadow: 0 1px 3px rgba(0,0,0,.8);
    display: flex;
    gap: 20px 0;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-between;
}

.texto-slide h2 {
    font-family: var(--font-banner);
    font-size: 3.5em;
    text-align: center;
}

.texto-slide p {
    line-height: 1.6em;
    text-align: left;
}

.texto-slide button {
    background-color: var(--red-color);
    padding: 10px 40px;
    font-size: 18px;
    border: none;
    color: white;
    text-shadow: inherit;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.texto-slide button:hover {
    background-color: #8a0202;
}

.slide img {
    width: 100%;
    height: 100%;
}

.manual-navigation {
    position: absolute;
    width: 100%;
    margin-top: -30px;
    display: flex;
    justify-content: center;

    gap: 0px 10px;
}

.manual-btn {
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:hover {
    background-color: white;
}

#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -25%;
}

.navigation-auto div {
    border: 2px solid var(--color-black-default);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto {
    position: absolute;
    width: 100%;
    margin-top: 570px;
    display: flex;
    justify-content: center;

    gap: 0 10px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
    background-color: white;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
    background-color: white;
}

/* Fim dos estilos do Banner rotativo */

#spacer {
    height: 2px;
    width: 80%;
    background-color: rgba(0, 0, 0, 0.1);
    margin: 70px auto;
}

main {
    display: grid;
    grid-template-areas: 
        ". . ."
        ". receitas ."
        ". . ."
    ;
    gap: 0px 125px;
}

div#content {
    display: flex;
    gap: 100px 100px;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
    grid-area: receitas;

    border: 1px solid rgba(0, 0, 0, 0.2);
    height: fit-content;
    width: fit-content;
    padding: 50px;
}

.receitas {
    height: 350px;
    width: 350px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 5px;

    cursor: pointer;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.receita-img {
    height: 70%;
    width: 100%;
    background-image: url('Placeholder - default image');
    background-size: cover;
    background-position: center;
    transition: transform 0.3s ease-in-out;
}

.receitas:hover .receita-img {
    transform: scale(1.1);
}

.receita-separador {
    height: 2px;
    width: 80%;
    background-color: rgba(0, 0, 0, 0.2);
    margin: 20px 0;
}

.receita-nome {
    text-align: center;
}
